<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PRABANDH</title>
        <meta charset="utf-8" />
        <style>
            @font-face {
                font-family: 'PoppinsRegular';
                src: url('/assets/cert/fonts/PoppinsRegular.eot');
                src: url('/assets/cert/fonts/PoppinsRegular.eot') format('embedded-opentype'),
                    url('/assets/cert/fonts/PoppinsRegular.woff2') format('woff2'),
                    url('/assets/cert/fonts/PoppinsRegular.woff') format('woff'),
                    url('/assets/cert/fonts/PoppinsRegular.ttf') format('truetype'),
                    url('/assets/cert/fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');        
            }
            body {
                font-family: 'PoppinsRegular';
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body style="top:3%;font-size: 16px;">
        <div style="background-image:url('/assets/images/certificate-bg.jpg');background-repeat:no-repeat;background-color:#fff;background-size: 100% 100%; width:1080px; box-sizing:border-box; padding:0 60px 0 30px">
            <table style="margin:40px auto 40px; font-size: 16px; height: 650px; position: relative;">
                <tr style="vertical-align: top; height: 90px;">
                    <td style="width: 100px;"> 
                        <%= data.Crtbg %>              
                    </td>
                    <td style="width:300px; padding-top:20px; vertical-align: middle; text-align: left;">
                        <a href="#"><img src="data:image/png;base64,<%= data.ALogo %>" style="height:75px; margin-left: -100px;"></a>
                    </td>
                    <td style="text-align:center; padding-top:20px; width:300px;  vertical-align: middle;">
                        <a href="#"><img src="data:image/png;base64,<%= data.MLogo %>" style="height: 65px; margin-left: -50px;"></a>
                    </td>
                    <td style="text-align:right; padding-top:20px; width:400px;  vertical-align: middle; padding-right: 35px;">
                        <a href="#"><img src="data:image/png;base64,<%= data.VLogo %>" style="height:90px;"></a>
                    </td>
                </tr>
                <tr style="vertical-align:top; ">
                    <td colspan="4" style="text-align: center; padding-top:80px; vertical-align: top; ">
                        <img src="data:image/png;base64,<%= data.Crtf %>" style="height: 240px;">
                    </td>
                </tr>
                <tr style="vertical-align:top;">
                    <td colspan="4" style=" vertical-align: top; text-align: center; padding-top: 60px; ">
                        <div style="border-bottom:dotted 2px #ccc; line-height: 50px; padding:0 50px 20px; margin: 0; width: 50%; font-size:28px; font-weight:bold; text-align: center; display: inline-block;">Sh./Smt./Kum. VDDDDD</div>
                    </td>
                </tr>
                <tr> <td colspan="4" style=" vertical-align: top; text-align: center; padding-top: 15px; "><p style="font-size: 16px;">For successfully volunteering in PRABANDH program</p></td></tr>
                <tr style="vertical-align:top; ">
                    <td colspan="4" style=" vertical-align: top; text-align: center; padding:40px 80px 20px 80px; ">
                    <p> by contributing <strong>XYZ-Activity</strong> to <strong>ABC-School</strong> school</p>                                  
                    </td>
                </tr>
                <tr> <td colspan="4" style=" vertical-align: top; text-align: center; padding-top: 25px; "><p style="font-size: 16px;">‘We acknowledge your efforts and encourage you to keep participating.</p></td></tr>
                <tr style="vertical-align:top;">
                    <td style="padding: 24px 0 20px 70px; vertical-align: top; text-align: left; width: 300px;">
                        Date: 12/10/2023</td>
                    <td></td>
                    <td></td>
                    <td style="padding: 25px 120px 20px 0; vertical-align: top;  text-align: right;">Best Wishes</td>
                </tr>
                <tr>
                    <td colspan="4" style="border-bottom: dotted 2px #ccc; padding: 15px 0 20px; color: #2a53a3;  font-weight: 600; text-align: center;"><strong>For more information about PRABANDH visit: www.PRABANDH.education.gov.in</strong></td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 20px 0 0;color: #2a53a3;   font-weight: 600; text-align: center;"><strong> PRABANDH- A School Volunteer Program of DoSEL, MoE. GoI</strong></td>
                </tr>
            </table>
        </body>
    </body>

</html>