<table width="100%" align="center" cellspacing="0" cellpadding="" border="0" class="full-width">
    <tbody>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td><strong>Dear <%= data.volunteer_name %></strong></td></tr>
        <tr><td height="10">&nbsp;</td></tr>
        <tr>
            <td height="20">
                Thank you for showing interest for contribution. Details of your offer are as follows:
            </td>            
        </tr>       
        <tr>
            <td height="20">&nbsp;</td>
        </tr>      
        <tr>
            <td>
                <table width="100%" align="center" cellspacing="0" cellpadding="" border="0" class="full-width">
                    <tbody>                        
                          <tr>
                            <td height="20">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="20">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="20">Material Needed: <%= data.asset_name %> , Quantity Offered: <%= data.asset_quantity %> , School Name and Mobile: <%= data.school_name %> &nbsp <%= data.school_mobile %></td>
                          </tr>
                          <tr>
                            <td height="20">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="20">You will receive update from School shortly. </td>
                          </tr>
                          <tr>
                            <td height="20">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="20">Alternatively, you can navigate to Ongoing Assets/Material Requests under your account name for the latest status of your offer. </td>
                          </tr>
                          <tr>
                            <td height="20">&nbsp;</td>
                          </tr>
                         
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>